*{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#lineart_container{
    position: relative;
    z-index: 1;
    width: 300px;   
}
@media screen and (min-width: 320px) {
    #start, #becher, #kugel, #eis, #saucetopping, #order, #realtoppingss {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    #start, #staff, #kugel, #saucetopping, #order {
        background-color: rgb(204, 224, 255);
    }
    #staff {
        height: 100%;
        background-size: cover;
    }
    #becher, #eis, #realtoppings{
        background-color: rgb(255, 217, 246);
    }
    #start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
        display: none;
    }
    #start img{
        height: 30vh;
        display: block; 
        margin: 0 auto;
        padding: 80px 0px 50px;
    }
    #start p{
        display: none;
    }    
    #kugel1,#kugel2, #kugel3, #kugel4 {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        background-size: cover;
    }
    #kugel1 {
        top: 9%;
        left: 8%;
        background-color: white;
    }
    #kugel2 {
        top: 9%;
        left: 40%;
        background-color: rgb(250, 250, 250);
    }
    #kugel3 {
        top: 0%;
        left: 25%;
        background-color: rgb(240, 240, 240);
    }
    #kugel4 {
        top: 0%;
        left: 40%;
        background-color: rgb(230, 230, 230);
    }
    .home {
        width: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #side{
        height: 300px;
        width: 100px;
        position: absolute;
        top: 40%;
        left: 2%;
    }
    #lineart {
        width: 85px;
    }
    #lineart_container{
        width: 100px;
        position: absolute;
        top: 20%;
        left: 5%;
    }
    /*scshriften: h1, h2s*/
    h1{ 
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Damion', cursive;
    
        font-weight: 100;
        padding-top: 50px;
    }
    h1#fighter{
        padding-top: 20px;
    }
    #saucetopping > h1, #realtoppings > h1{
        padding-top: 20px;
    }
    #sauce h1, #top h1{
        font-size: 40px;
        font-weight: 100;
    }
    h2.sortentext {
        font-weight: 100;
        font-size: 40px;
    }
    h2{ 
        text-align: center;
        color: white;
        font-size: 25px;
        font-weight: 100;
        font-family: 'Damion', cursive;
    }
    #sorten p{
        color: white;
    }
    .flavour p, .topper p{
        margin: auto 0;
        font-size: medium;
    }
}

@media screen and (min-width: 641px) {
    .home {
        width: 40px;
    }
    #start, #becher, #kugel{
        overflow: hidden;
    }
    #start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
        margin: 0;
        padding: 0;  
    }
    #kugel1, #kugel2, #kugel3, #kugel4 {
        width: 80px;
        height: 80px;
    }
    #kugel1 {
        top: 9%;
        left: 8%;
    }
    #kugel2 {
        top: 9%;
        left: 40%;
    }
    #kugel3 {
        top: 0%;
        left: 20%;
    }
    #kugel4 {
        top: 0%;
        left: 40%;
    }
    #side{
        height: 400px;
        width: 200px;
        top: 42%;
    }
    #lineart {
        width: 150px;
        top: 20%;
    }
    /*schriften*/
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 50px;
    }
    #becher h1{
        color: white;
        padding: 0;
    }
    #sauce h1{
        font-size: 45px;
    }
    #saucetopping h2{
        font-size: 40px;
    }
    h2.sortentext {
        font-weight: 100;
        font-size: 60px;
    }
    .flavour p, .topper p{
        font-size: x-large;
    }
}

@media screen and (min-width: 1025px) {
    #becher, #start, #eis{
        overflow: hidden;
    }
    #start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
        height: 29%;
    }
    #start img[alt="logo"]{
        padding: 0px 30px 20px;
    }
    #start p{
        display: block;
        text-align: center;
        font: 200 42px/1.3 'Lobster Two', Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
    } 
    #kugel1, #kugel2, #kugel3,#kugel4 {
        width: 120px;
        height: 120px;
        border-radius: 100px;
    }
    #kugel1 {
        top: 10%;
        left: 6%;
    }
    #kugel2 {
        top: 10%;
        left: 43%;
    }
    #kugel3 {
        top: 0%;
        left: 26%;
    }
    #kugel4 {
        top: 0%;
        left: 40%;
    }
    #side{
        height: 400px;
        width: 220px;
        left: 0%;
    }
    #lineart {
        top: 0%;
        left: -3%;
        width: 200px;
        float: left; /*does this even do anything*/
        margin: 60px 0px 20px 10px;
    }
    #lineart_container{
        position: absolute;
        z-index: 1;
        width: 220px;   
        top: 18%;
        left: 0%;
    }
    .headline h1{
        padding: 0;
    }
    .sauce h1, .topp h1{
        padding: 0;
        text-align: center;
        margin: 0;
        width: auto;
        font-size: 50px;
        font-weight: 200;
    }
    #top h1{
        font-size: 50px;
    }
    #topp h1{
        font-size: smaller;
     }
    #becher h1{
        color: #FED9F6;
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #realtoppings h1{
        font-size: 32px ;
    }
    #realtoppings > h1{
        font-size: 50px ;
    }
    #eis h1{
        padding-top: 5px;
        color:white;
    }
    h1#fighter{
        padding-top:1.5%;
    }
    #saucetopping > h2{
        font-size: 30px;
    }
    #sorten p{
        color: black;
    }
    .flavour p, .topper p{
        margin: auto 0;
        font-size: x-large;
    }
    #staff p{
        color: rgb(204, 224, 255);
        background-color: white;
        margin-left: 50px;
        margin-top: 20px;
        padding: 10px;
        width: 200px;
    }
}

@media screen and (min-width: 1370px) {
    #start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
        height: 250px;
        width: 100%;
    }
    #start img[alt="logo"]{
        padding: 0px 30px 2%;
    }
    .home {
        width: 50px;
    }
    #side{
        height: 400px;
        width: 300px;
        position: absolute;
        top: 40%;
        left: -4%;
     }
     #realtoppings h1{
        font-size: 40px;
    }
    #realtoppings > h1{
        font-size: 60px;
    }
    #saucetopping > h1, #realtoppings > h1{
        padding-top: 4%;
    }
    #saucetopping h2{
        font-size:50px;
    }
}