*{  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#lineart_container{
    position: relative;
    z-index: 1;
    width: 300px;   
}

.flavour{
    border-radius: 100px;
}
#side{
   height: 400px;
   width: 300px;
   position: absolute;
   top: 40%;
   left: -4%;
}
button:focus{
    outline:none;
}
input:focus{
    outline:none;
}
.vorschau_button{
    width: 50px;
}
@media screen and (min-width:320px) {
#reminder{
    display: none;
}
.home,  .staff{
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#orderhead{
    padding-top: 20px;
}
#start .staff, .home{
    height: 30px;
    padding: 10px;
}
.toppingonice{
    top: 0;
    left: 20%;
    width: 35px;
    position: absolute;
    z-index: 1;
}
#streusel, #rainbow {
    width: 70px;
}
#erdbeere{
    left: 50%;
}
.vorschau_button{
    width: 50px;
}
#sauceimg{
    position: absolute;
    width: 70px;
    top: 0%;
    left: 16%;
} 
#sauceimg.alignsauce3{
    top: 0%;
}
#sauceimg.alignsauce4{
    top: -1%;
    left: 20%;
}
 #kugel1,#kugel2, #kugel3, #kugel4 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    background-size: cover;
}
#kugel1 {
    top: 9%;
    left: 8%;
    background-color: white;
}
#kugel2 {
    top: 9%;
    left: 40%;
    background-color: rgb(250, 250, 250);
}
#kugel3 {
    top: 0%;
    left: 25%;
    background-color: rgb(240, 240, 240);
}
#kugel4 {
    top: 0%;
    left: 40%;
    background-color: rgb(230, 230, 230);
}
#kugel1.singleOne{
    width: 77px;
    height: 77px;
    border-radius: 40px;
    left: 9%;
    top: 6%;
}
/* Kugeln ende */
#lineart {
    width: 85px;
}
#lineart_container{
    width: 100px;
    position: absolute;
    top: 20%;
    left: 5%;
}
h1{ 
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Damion', cursive;

    font-weight: 100;
    padding-top: 50px;
}
h1#fighter{
    padding-top: 20px;
}
#saucetopping > h1, #realtoppings > h1{
    padding-top: 20px;
}
h2.sortentext {
    font-weight: 100;
    font-size: 40px;
}
#sorten p{
    color: white;
}
h2{ 
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Damion', cursive;

}
/*div größen*/
#start, #becher, #kugel, #eis, #saucetopping,#order, #realtoppings{
    width: 100%;
    height: 100vh;
    position: relative;
}
#start, #staff, #kugel, #saucetopping, #order{
    background-color: rgb(204, 224, 255);
}
#staff{
    position: relative;
    height: 100vh;
    background-size: cover;
}
#Bestellungen{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(204, 224, 255);
}
#staff .vorschau > p{
    color: rgb(204, 224, 255);
    background-color: white;
    width: 200px;
}
#staff p + img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#staff img ~ div > button{
    color: rgb(190,210,255);
    width: 75%;
    margin-left: 5%;
}
.vorschau{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
#becher, #eis, #realtoppings{
    background-color: rgb(255, 217, 246);
}
#side{
    height: 250px;
    width: 100px;
    position: absolute;
    top: 40%;
    left: 2%;
 }
 #side.sortenside{
    position: absolute;
    height: 250px;
    top: 95%;
    left: 15%;
    margin-right: -50px;
    transform: translate(-50%, -50%);
 }
 #side.sauceside, #side.orderside{
    top: 73%;
 }
/*sonstiges*/
#start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
    display: none;
}
#start img{
    height: 30vh;
    display: block; 
    margin: 0 auto;
    padding: 80px 0px 50px;
}
#start p{
    display: none;
}
#auswahl{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
    flex-flow: column wrap;
}
#auswahl img{
    height: 35vh;
    justify-content: center;
}
button{
    background-color: white;
    border: none;
    border-radius: 50px;
}
.next button{
    font-size: larger;
    width: 100px;
    height: 40px;
    
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); /*IMPORTANT*/
}
#zahl{
    text-align: center;
    display: flex;
    margin: 15px 0px;
    justify-content: space-evenly;
    flex-direction: column;
}
#zahl div{
    font-size: 60px;
    width: 80px;
    height: 80px;
    text-align: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    color: rgb(204, 224, 255);
    display: block;
    margin: 5px auto;
}
#sorten{    
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 0px; 
}
#sauce, #top{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
.flavour, .topper, .sauce{
    text-align: center;
    flex: 1 0 40%;
}
#sauce h2, #realtoppings h2{
    font-size: 30px;
    font-weight: 100;
    padding: 0;
    text-align: center;
    margin: 0;
    width: auto;
}
.flavour > img, .topper > img, .sauce > img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    width: 70px;
}
.flavour img{
    display: none;
}
.flavour p, .topper p{
    margin: auto 0;
    font-size: medium;
}
.flavour button, .topper button{
    margin: 5px;
    text-align: center;
    font-size: medium;
}
.buttons{ /*minus und plus*/
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    
}
.plus, .minus{
    color: white;
    font-size: x-large;
    width: 25px;
    background-color: transparent;
}
#form{
    text-align: center;
}
#form input{
    margin-bottom: 10px;
    height: 20px;
    border-radius: 20px;
    border-style: none;
}
#form input:invalid{
    background-color: rgb(200, 209, 250);
}
#form button{
    margin: 0px 20px;
    font-size: larger;
    height: 30px;
    width: 100px;
}
#last_buttons{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
#last_buttons button{  
    font-size: 20px;
    width: 120px;
    height: 30px;
}
#surprise{
    display: none;
}
#formular{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#formular button{
    height: 33px;
}
#formular button:hover{
    color: white;
    background-color: rgb(190,210,255);
}
button#surprise:hover, #form button:hover, #exit:hover {
    transition: all 500ms ease-in-out;
    color: black;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}
}

@media screen and (min-width:641px) {
.home{
    width: 40px;
}
#start .staff, .home{
    height: 40px;
    width: 40px;
    padding: 20px;
}
#saucetopping h2{
    font-size: 40px;
}
h2.sortentext {
    font-weight: 100;
    font-size: 60px;
}
#sauceimg{
    width: 130px;
    top: 0%;
    left: 12%;
} 
.toppingonice{
    width: 60px;
}
#streusel, #rainbow {
    width: 120px;
}
#side{
    height: 400px;
    width: 200px;
    position: absolute;
    top: 42%;
    left: 2%;
}
#side.sortenside{
    height: 400px;
    top: 70%;
    left: 53%;
    transform: translate(-50%, -50%);
 }
#side.sauceside{
    left: 0%;
    top: 70%;
}
#side.orderside{
    left: 62%;
    top: 20%;
}
#kugel1, #kugel2, #kugel3, #kugel4{
    width: 80px;
    height: 80px;
} 
#kugel1{
    top: 9%;
    left: 8%;
}
#kugel2{
    top: 9%;
    left: 40%;
}
#kugel3{
    top: 0%;
    left: 20%; 
}
#kugel4{
    top: 0%;
    left: 40%; 
} 
#kugel1.singleOne{
    width: 145px;
    height: 145px;
    border-radius: 150px;
    left: 7%;
    top: 0%;
}
#start, #becher, #kugel, #eis, #saucetopping,#order, #realtoppingss{
    width: 100%;
    height: 100vh;
}
#start, #becher, #kugel{
    overflow: hidden;
}
#lineart {
    width: 150px;
    top: 20%;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
#start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
    display: block;
    margin: 0;
    padding: 0;
   
}
#becher img[alt = "head"],  #kugel img[alt = "head"]{
    height: 250px; 
    overflow: hidden;
}
#becher h1{
    color: white;
    padding: 0;
}
#auswahl{
    flex-flow: row nowrap;
}
#auswahl img{
    height: 400px;
}
#zahl{
    flex-flow: row wrap;
    width: 300px;
    margin: 50px 250px;
}
#zahl div{
    font-size: 100px;
    width: 120px;
    height: 120px;
}
button{
    font-size: x-large;
    width: 140px;
    
}
.next button{
    bottom: 3%;
}
.flavour > img, .topper > img, .sauce > img{
    width: 180px;
}
#sauce h2{
    font-size: 45px;
}

.flavour button, .topper button{
    font-size: x-large;
}
.flavour p, .topper p{
    font-size: x-large;
}
.plus, .minus{
    width: 20%;
}
#sauce, #top{
    margin-left: 60px;
    margin-right: 60px;
}
#form{
    font-size: x-large;
}
#form input{
    margin-bottom: 20px;
    height: 30px;
}
#form button, #last_buttons button{
    font-size: 25px;
    width: 180px;
    height: 40px;
}
#last_buttons{
    flex-flow: column nowrap;
}
#last_buttons button{
    margin-bottom: 10px;
}
#surprise {
    display: block;
}
#surprisememe img{
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
}
#formular button{
    height: 55px;
}
#staff p + img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
#order > div > a {
    color: white;
    font-size: large;
    font-weight: 200;
}
#sauceimg.alignsauce4{
    left: 15%;
}
}
@media screen and (min-width:1025px) {
#sauceimg.alignsauce3, #sauceimg.alignsauce4{
    top: -1%;
} 
#sauceimg.alignsauce4{
    left: 24%;
}     
.flavour img{
    display: inline;
}
.flavour h2{
    display: none;
}
#becher, #kugel, #eis, #saucetopping,#order, #realtoppings{
    display: none;
}
#becher, #start, #eis{
    overflow: hidden;
}
.plus, .minus{
    color: black;
    font-size: x-large;
    width: 25px;
    background-color: transparent;
}
.headline h1{
    padding: 0;
}
.toppingonice img{
    width: 50px;
}
.toppingonice{
    width: 90px;
    top: 0%;
    left: 22%;
}
#streusel, #rainbow {
    width: 150px;
}
#erdbeere{
    left: 60%;
}
#side{
    height: 400px;
    width: 220px;
    left: 0%;
}
#side.sortenside{
    top: 55%;
    left: 8%;
    margin-right: 0px;
}
#side.sauceside{
    left: 0%;
    top: 40%;
}
#sauceimg{
    position: absolute;
    width: 150px;
    top: 4%;
    left: 17%;
}
.sauce > img{
    width: 100px;
}
#kugel1, #kugel2, #kugel3, #kugel4{
    width: 120px;
    height: 120px;
    border-radius: 100px;
} 
#kugel1{
    top: 10%;
    left: 6%;
}
#kugel2{
    top: 10%;
    left: 43%;
}
#kugel3{
    top: 0%;
    left: 26%; 
}
#kugel4{
    top: 0%;
    left: 40%; 
}
#kugel1.singleOne{
    width: 185px;
    height: 185px;
    left: 8%;
    top: 5%;
}
#lineart_container{
    position: absolute;
    z-index: 1;
    width: 220px;   
    top: 18%;
    left: 0%;
}
#lineart {
    top: 0%;
    left: -3%;
    width: 200px;
    float: left;
    margin: 60px 0px 20px 10px;
}
#reminder{
    display: block;
    position: absolute;
    right:4%;
    bottom: 5%;
    font-size: 40px;
    font-family: 'Damion', cursive;
    color: white;
}
.sauce h2, #realtoppings h2{
    padding: 0;
    text-align: center;
    margin: 0;
    width: auto;
    font-size: 35px;
    font-weight: 200;
}
#top h1{
    font-size: 50px;
}

#eis, #saucetopping, #realtoppings{
    height: 100vh;
}
#start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
    height: 29%;
}
#start img[alt="logo"]{
    padding: 0px 30px 20px;
}
#start p{
    display: block;
    text-align: center;
    font: 200 42px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}  
#becher h1{
    color: #FED9F6;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
#auswahl img{
    height: 60vh;
} 
#auswahl{
    margin: 0 200px ;
} 
#zahl{
    flex-flow: row nowrap;
    width: initial;
    margin: 50px 200px;
}
#sauce, #top{
    margin: 0 200px;
}
#topp h1{
   font-size: smaller;
}
#top{
    align-items: baseline;
}
#sorten{
    margin-top: 0;
    margin-left: 200px;
    margin-right: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: white;
    border: rgb(255, 217, 246) double 5px;
    border-radius: 40px 0 40px 0;
    padding: 0;
}

.flavour{
    background-color: white;
}
.flavour, .topper, .sauce{
    text-align: center;
    flex: 1 0 21%;
    margin: 10px 0;
    width: 260px;
}
#realtoppings h1{
    font-size: 32px ;
}
#realtoppings > h1{
    font-size: 50px ;
}
.flavour > img, .topper > img, .sauce > img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    width: 175px;
}
.flavour > img{
    width: 155px;
}
#eis h1{
    padding-top: 5px;
    color:white;
}
h1#fighter{
    padding-top:1.5%;
}
#saucetopping > h2{
    font-size: 30px;
}
/*4*/
#saucetopping{
    height: 100vh;
    position: relative;
}
#saucetopping img, #realtoppings img{

    flex-flow: row wrap;
    flex: 1 0 21%;
}
.next3{
    position: absolute;
    bottom: 40px;
    width: 100%;  
}
/*5*/
#order{
    height: 100vh;
    position: relative;
}
form{
    font-size: 20px;
    padding: 10px 40px 20px;
    text-align: center;
}
#form button{
    margin-top: 20px;
}
#form input{
    margin-bottom: 10px;
    border-radius: 50px;
    height: 30px;
    border: none;
}
.buttons{
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
}
#sorten p{
    color: black;
}
.topper button{
    background-color: #CCE0FF;;
}
.flavour button, .topper button{
    margin: 5px;
    text-align: center;
    font-size: x-large;
}
.flavour p, .topper p{
    margin: auto 0;
    font-size: x-large;
}
#form button{
    width: 170px;
}
#staff p{
    color: rgb(204, 224, 255);
    background-color: white;
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}
#staff button{
    width: 200px;
}
.vorschau{
    display: flex;
    flex-direction: row;
    width: 500px;
}
#surprisememe{
    width: 400px;
    position: absolute;
    top: 38%;
    left: 2%;
}
#surprisememe img{
    padding: 0;
}
#order > div > a {
    color: white;
    font-size: large;
    font-weight: 500;
}

#exit{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    font-size: x-large;
}
#order > div > img{
    width: 400px;
}
#Bestellungen{
    background-color: rgb(204, 224, 255);
    display: flex;
    flex-flow: row wrap;
    flex: 21% 0 1;
    margin-right: auto;
    margin-left: auto;
}
img#trash {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
}
@media screen and (min-width: 1370px){
#surprisememe{
    top: 40%;
}    
#start img[alt="head"], #becher img[alt = "head"],  #kugel img[alt = "head"]{
    height: 250px;
    width: 100%;
}
#sorten{
    margin: 0 250px;
}
.flavour img{
    width: 180px;
}
#reminder{
    font-size: 45px;
    right: 17%;
}
#sauce, #top{
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
} 
#realtoppings h1{
    font-size: 40px;
}
#realtoppings > h1{
    font-size: 60px;
}
#start img[alt="logo"]{
    padding: 0px 30px 2%;
}
#sorten{
    margin-top: 2%;
}
#saucetopping h2, #realtoppings h2{
    font-size: 50px;
}
#saucetopping > h1, #realtoppings > h1{
    padding-top: 4%;
}
#auswahl img{
    height: 500px;
}
.home{
    height: 50px;
    width: 50px;
}
#start .staff{
    height: 50px;
    width: 50px;
    padding: 5px;
}
}