*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
html{
    width: 100%;
}
body{
    background-image: url(grid.jpg);
    margin: 0;
    padding: 0;
    }
.head{
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    background-color:white;

}
a{
    color: white;
    text-decoration: none;
}
#active{
    border: dotted #add9e6 3px;
}
#activelogo{
    filter: grayscale(2);
}
#count{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
}
#count p{
    font-size: small;
    padding: 1px 5px 1.5px 6px;
    border-radius: 9px;
    background-color: white;
    color: #89aeb9;
    margin-top: 0;
    margin-right:7px;
}

@media screen and (min-width:320px) { 
p.atikelname{
    font-weight: 500;
}
.artikel>p.beschreibung{
      font-size: smaller;
      color: gray;
}
.artikel>p.preis{
    font-size: small;
    color: gray;
}
header > a > img{
    margin: 20px 10px;
    height: 55px;
}
header > a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: none;
    margin-right: 50px;
    margin-left: 50px;
}

header{
    padding-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #add9e6;
}
nav{
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
nav img{
    height: 70px;
    margin: 15px 10px ;
}
.cart{
    width: 250px;
}
.cart1{
    position: relative;
    width: 80px;
}
.cart{
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.cart img{
    margin: auto;  
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    align-content: center; 
    filter: grayscale(100);
}
.cart1{
    margin: auto; 
    text-align: center;
}
.cart1 #heart:hover, .cart1 #cart1:hover{
     transition: 0.2s;
     filter: grayscale(0);}
.cart1:hover{
    transition: 0.2s;
    border-bottom: dotted 1px;
    padding-bottom: 0;
}

div + p{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #add9e6;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
main img{
    width: 100%;
    height: auto;
}
.artikel{
    height: 370px;
    margin:20px;
    background-color: white;
    text-align: center;
}
#shop1, #shop2, #shop3, #shop4, #shop5{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.artikel > img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    width: 200px;
}
.drop{
     opacity: 0;
}
.artikel:hover .drop{
    opacity: 1;
    transition: 1s;
}
.artikel:hover .drop img:hover{
    transition: 0.2s;
    filter: grayscale(0);
}
.drop img{
    padding: 5px;
    width: 25px;
    filter: grayscale(100);
}

}
@media screen and (min-width:641px) {
a h1{
    display: block;
    margin: 20px 50px 20px;
}
header > a > img{
    height: 55px;
}
header{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.cart{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.cart1{
    margin: auto 20px;
}


#shop1, #shop2, #shop3, #shop4, #shop5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.artikel{
    flex: 1 0 32%;
    margin: 10px 50px;
    align-items: baseline;
    }
}

@media screen and (min-width:1025px) { 

.banner{
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#shop1, #shop2, #shop3, #shop4, #shop5{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.artikel{
    flex: 1 0 20%;
    margin: 10px 50px;
    margin-bottom: 20px;
    }
}


